[Unit]
Description=Regenerate SSH host keys
Before=first-boot-complete.target ssh.service sshd-keygen.service
After=systemd-remount-fs.service
Wants=first-boot-complete.target
ConditionPathIsReadWrite=/etc
ConditionFileIsExecutable=/usr/bin/ssh-keygen
ConditionFirstBoot=yes
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/rm -f /etc/ssh/ssh_host_*_key*
ExecStart=/usr/bin/ssh-keygen -A

[Install]
WantedBy=sysinit.target
