[Unit]
Description=Turn on SSH if /boot/ssh or /boot/firmware/ssh is present
After=regenerate_ssh_host_keys.service boot-firmware.mount

[Service]
Type=oneshot
ExecStart=/usr/lib/raspberrypi-sys-mods/sshswitch

[Install]
WantedBy=multi-user.target

