[Unit]
Description=Disable WiFi if country not set
Before=systemd-rfkill.service
After=raspberrypi-net-mods.service

[Service]
Type=oneshot
ExecStart=/usr/lib/raspberrypi-sys-mods/wifi-country

[Install]
WantedBy=multi-user.target
